body{
    background: black;
    color: #fff;
    font-family: 'Major Mono Display', monospace;
    text-align: center;
    background-image: url('../img/lines.svg');
    background-size: 700px 700px;
    background-position: 0 -90px;
    background-repeat: no-repeat;
}
body::selection {
    background: #fff !important; /* WebKit/Blink Browsers */
}
body::-moz-selection {
    background: #fff !important; /* Gecko Browsers */
}
#wrapper {
    max-width: 750px;
    margin: 0 auto;
}
#defaultCanvas0 {
    position: absolute;
    top: 4rem;
    left: 15rem;
}
#streaks {
    background: #000;
    max-width: 450px;
    margin: 0 auto;
}
#content {
    margin-top: 0px;
    margin-bottom: 5rem;
}

.bordered {
    border: 2px solid #fff;
    padding: 2rem;
}
#skills {
    width: 82%;
    max-width: 650px;
    margin: 0 auto;
    margin-top: 2rem;
    line-height: 1.5rem;
    background: #000;
}
a {
    color: #fff;
}
.info {
    color: white;
    font: 1em sans-serif;
    text-align: center;
}

.info a{
    color: white;
}

.divider {
    border: none;
    border-top: 2px dashed #fff;
    width: 100%;
    margin: 3rem auto;
}

header {
    padding-top: 8.7rem;
    margin-top: 0rem;
}

svg {
    width: 97%;
    height: 120px;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    background: black;
}

#subtext_svg {
    height: 30px !important;
    text-align: center;
}